@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
    > header, footer {
        padding: 0.5rem 1rem;
        color: var(--colorBgPrimary);
        background-color: var(--colorSecondary);    
    }
}
@media (min-width: 850px) {
    body, footer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

header, footer {
    font-family: var(--fontHeader);
}

nav {
    position: sticky;
    top: 0;
    padding: 0.25rem 1rem;
    background-color: var(--colorBgTertiary);
    font-weight: bold;
    li {
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
    @media (min-width: 480px) {
        ul {
            display: flex;
            gap: 2rem;
        }    
        li {
            margin-bottom: 0;
        }
    }
    button {
        text-decoration: none;
        border: none;
        color: var(--colorBgPrimary);
        background-color: var(--colorBgTertiary);
        font-size: 1.1rem;
        &:hover {
            text-decoration: underline;
            color: var(--colorTertiary);
            cursor: pointer;
        }
    }
}
.selected {   
    color: var(--colorTertiary);
    text-decoration: underline;
}

main {
    margin: 1rem 1rem 3rem 1rem;
    @media (min-width: 850px) {
        margin: 1rem 0 3rem 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    @media (min-width: 850px) {
        width: 80%;
    }
}

article {
    &.film {
        border: solid thin var(--colorBgSecondary);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    
    &.film p {
        padding: 0.5rem;
    }
    &.film img {
        margin-top: 0.25rem;
        align-self: center;
        max-width: var(--coverMaxWidth);
        max-height: var(--coverMaxHeight);
        @media (min-width: 480px) {
            align-self: flex-start;
            margin-top: 0;
            border-radius: 0 0 0 0.5rem;
        }
    }
    
    header {
        padding: 0.25rem 1rem;
        color: var(--colorBgPrimary);
        background-color: var(--colorBgSecondary);
        border-radius: 0.5rem 0.5rem 0 0;
    }
}

.film-content {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: 480px) {
        flex-flow: row nowrap;
    }
}

.film-info {
    font-size: 0.9rem;
    padding-bottom: 0 !important;
    &:last-of-type {
        padding-bottom: 0.5rem !important;
    }
    &::before {
        font-weight: bold;
    }
}
.date::before {
    content: 'Release date: ';
}
.original-title::before {
    content: 'Original title: ';
}

#error {
    border: thick solid var(--colorError);
    border-radius: 1rem;
    padding: 1rem;
}

.hidden {
    display: none;
}